<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<title> {{ site.title}}
        {% if page.title %}
           :: {{ page.title }} 
         {% endif %}
    </title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
	
	
	<!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
	<!-- end: Mobile Specific -->

    <!-- start: CSS -->
    <link rel="stylesheet" href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="{{ ASSET_PATH }}/bootstrap/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/cfa.css">
    <!-- end: CSS -->

    <!-- start: browser tab icon -->
    <link rel="shortcut icon" href="{{ ASSET_PATH }}/images/CFA/CFA_Icon_2.png">
	<!-- end: icon -->

	<!--  Green color for CFA -->
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/color.css">

    <script src="https://c328740.ssl.cf1.rackcdn.com/mathjax/2.0-latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/javascript">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)']],
        processEscapes: true
      }
    });
    </script>

</head>

<body>
<header id="header">

	<div class="section-wrapper">
		<div class="container">
			<div class="row">
				<div class="span6"> 
					<img class="img" src="{{ ASSET_PATH }}/images/CFA/CFA_LearningTree_Trans2.png" style="width: 500px; padding: 10px; float: right;">
				</div>

				<div class="span1"> 
					<div class="separator"></div>
				</div>

				<div class="span5">
					<div class="container">
			          <div class="row">
						
					  	<div class="navbar">
							<a class="brand" style="text-shadow: 1.5px 1.5px #91b474;">{{site.title}} <br> {{site.tagline}} </a>  
							<div id="sidebar" class="sidebar-nav span3">
					  		<div class="navbar-inner">
								<div class="nav-collapse collapse" id="nav-collapse-01">
				                    <ul class="nav">
				                      {% for item in site.navbar %}
				  					    <li  {% if item.name == page.title %} class="active" {% endif %} >
				                        <a href="{{item.link}}">
				                           {{item.name}} 
				  			 			 {% if item.menu != null %}
				  						 <b class="caret"></b>
				  			 			 {% endif %}
				                        </a>
				  		 			  {% if item.menu != null %}
				                          <ul>
				                          {% for subitem in item.menu %}
				  						<li><a href="{{subitem.link}}">{{subitem.label}}</a>
				                            {% if subitem.submenu != null %}
				                              <ul>
				                                {% for subsubitem in subitem.submenu %}
				                                  <li><a href="{{subsubitem.link}}">{{subsubitem.label}}</a></li>
				                                {% endfor %}
				                              </ul> <!-- /Sub menu -->
				                            {% endif %}
				  						  </li>
				                          {% endfor %}
				                          </ul>
				                        {% endif %}
				                      </li>
				  					{% endfor %}
				                    </ul>
					            </div><!-- nav -->
					  		</div>
					  	</div><!--end: navbar -->
						</div>
			          </div>
			        </div>
				</div>
			</div>
		</div>
	</div>




    <!-- start: footer -->
	<div class="post-footer">
		<div class="container">
			<div class="row">
					<div class="span7">
						<div class="copyright">{{ site.copyright }}</div>
					</div>
					<div class="span5">
						<ul class="footer-links">
							{% for item in site.footer_social %}
							<li>
								<a class="thumbnail-social-icon" title='{{item.type}}' href="{{item.link}}"><img alt="" src="{{ ASSET_PATH }}/{{item.image}}"></a>
							</li>
				            {% endfor %}
						</ul>
					</div>
			</div>
		</div>
	</div>
<!-- end: footer -->

	    {% include JB/comments %}
	    {% include JB/analytics %}

    </body>
</html>