
<!--  from the even home page for 'services' -->

				<div class="span12">
					<div class="separator">
						<div class="left">
							<div class="lines">
								<div>
								<h2 class="lines-title">Services </h2>
								</div>
							</div>
						</div>
					</div>	

				<div class="accordion" id="accordion2">

				  <div class="accordion-group">
				    <div class="accordion-heading">
				      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
				        Design <span class="accordion-icon"><i class="icon-angle-down"></i></span>
				      </a>
				    </div>
				    <div id="collapseOne" class="accordion-body collapse in">
				      <div class="accordion-inner">
				        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias laboriosam quidem iusto repellat unde optio sed perferendis natus dicta in magni enim rem eos iure sequi nam asperiores nihil similique.
				      </div>
				    </div>
				  </div>

				  <div class="accordion-group">
				    <div class="accordion-heading">
				      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
				        Development <span class="accordion-icon"><i class="icon-angle-down"></i></span>
				      </a>
				    </div>
				    <div id="collapseTwo" class="accordion-body collapse">
				      <div class="accordion-inner">
				        consectetur adipisicing elit. Alias laboriosam quidem iusto repellat unde optio sed perferendis natus dicta in magni enim rem eos iure sequi nam asperiores nihil similique.
				      </div>
				    </div>
				  </div>

				  <div class="accordion-group">
				    <div class="accordion-heading">
				      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
				        Content Strategy <span class="accordion-icon"><i class="icon-angle-down"></i></span>
				      </a>
				    </div>
				    <div id="collapseThree" class="accordion-body collapse">
				      <div class="accordion-inner">
				        Alias laboriosam quidem iusto repellat unde optio sed perferendis natus dicta in magni enim rem eos iure sequi nam asperiores nihil similique.
				      </div>
				    </div>
				  </div>

				  <div class="accordion-group">
				    <div class="accordion-heading">
				      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
				        And a few other things <span class="accordion-icon"><i class="icon-angle-down"></i></span>
				      </a>
				    </div>
				    <div id="collapseFour" class="accordion-body collapse">
				      <div class="accordion-inner">
				        Dolor sit amet, consectetur adipisicing elit. Alias laboriosam quidem iusto repellat unde optio sed perferendis natus dicta in magni enim rem eos iure sequi nam asperiores nihil similique.
				      </div>
				    </div>
				  </div>

				</div>

				</div>
