<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<title>      {% if page.title %}
        {{ page.title }} - 
      {% endif %}
      {{ site.title }}
    </title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
	
	
	<!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
	<!-- end: Mobile Specific -->

    <!-- start: CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- end: CSS -->

    <!-- start: style switcher -->
    <link rel="stylesheet" href="assets/css/color-1.css" class="switchable">
    <link rel="stylesheet" href="assets/css/color-2.css" class="switchable">
    <link rel="stylesheet" href="assets/css/color-3.css" class="switchable">
    <link rel="stylesheet" href="assets/css/color-4.css" class="switchable">
	<!-- end: style switcher -->

    <!--[if IE 9]>
		<style>.img-mask .flipper {display: none;}</style>
	<![endif]-->  
    <!--[if IE 8]>
		<style>.boxy{position:relative;width:150px;height:150px;}.flipper {overflow: hidden;}.subscribe input[type="text"], .subscribe textarea {width: 35%;}.plan-background {background-position: center;background-repeat: repeat-x;border:none;} .sign-background {background-position: center;background-repeat: repeat-x;border:none;}.countdown-background {background-position: center;background-repeat: repeat-x;border:none;}.page-title {background-position: center;background-repeat: repeat-x;border:none;}.img-mask .flipper {display: none;}</style>	
	<![endif]-->

</head>

<body class="home">

<!-- start: slider -->
<div class="slider-wrapper slider-wrapper">

            <div id="slider" class="sl-slider-wrapper">

				<div class="sl-slider">
				
					<div class="sl-slide bg-1" data-orientation="horizontal" >
						<div class="sl-slide-inner">
							<a href="features.html"><h2><span class="btn btn-large ">Take a tour</span></h2></a>				
						</div>
					</div>
					
					<div class="sl-slide bg-2" data-orientation="vertical">
						<div class="sl-slide-inner">
							<a href="features.html"><h2><span class="btn btn-large ">Flat design</span></h2></a>	
						</div>
					</div>
					
					<div class="sl-slide bg-3" data-orientation="horizontal">
						<div class="sl-slide-inner">
							<a href="features.html"><h2><span class="btn btn-large ">Responsive and mobile first</span></h2></a>	
						</div>
					</div>				
				
				</div><!-- /sl-slider -->
				
				<nav id="nav-arrows" class="nav-arrows">
					<span class="nav-arrow-prev">Previous</span>
					<span class="nav-arrow-next">Next</span>
				</nav>

				<nav id="nav-dots" class="nav-dots">
					<span class="nav-dot-current"></span>
					<span></span>
					<span></span>
				</nav>

			</div><!-- /slider-wrapper -->
	

</div><!-- end: slider -->	

<!-- start: sticky area -->
<div class="persist-area">

	<header id="header">


		<!--start: navbar -->
		<div class="navbar home-navbar persist-header">
			<div class="navbar-inner ">
				<div class="container  ">
					<a data-toggle="collapse" data-target=".nav-collapse" class="btn btn-navbar">
						<span><i class="icon-reorder"></i></span>
					</a>
					<a class="btn btn-navbar" href="sign-in.html"><i class="icon-signin"></i></a>

					<a class="brand" href="index.html">even</a>

					<div id="top-navigation" class="nav-collapse subnav-collapse collapse ">
						<ul class="nav pull-right">
							<li class="active">
								<a href="index.html">Home</a>
							</li>
							<li class="dropdown">
								<a data-toggle="dropdown" class="dropdown-toggle" href="#">Pages<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="portfolio.html">Portfolio</a></li>
									<li><a href="portfolio-item.html">Portfolio item</a></li>
									<li><a href="features.html">Features</a></li>
									<li><a href="sign-in.html">Sign in</a></li>
									<li><a href="sign-up.html">Sign up</a></li>
									<li><a href="password.html">Reset password</a></li>
									<li><a href="plan.html">Plan</a></li>
									<li><a href="blog-post.html">Blog</a></li>
									<li><a href="post.html">Blog item</a></li>								
									<li><a href="coming-soon.html">Comming Soon</a></li>
									<li><a href="404.html">404 error</a></li>														
								</ul>
							</li>
							<li class=""><a href="about.html">About Us</a></li>
							<li class=""><a href="features.html">Features</a></li>
							<li class=""><a href="plan.html">Plan</a></li>
							<li class=""><a href="blog-post.html">Blog</a></li>
							<li class=""><a href="contact.html">Contact</a></li>
							<li class="top-account visible-desktop"><a class="top-sign-up" href="sign-up.html">Sign UP</a></li>
							<li class="top-account visible-desktop"><a class="top-sign-in" href="sign-in.html">Sign In</a></li>
						</ul>
					</div>	
			
				</div>
			</div>
		</div><!--end: navbar -->

	</header>

	<!-- start: section-features -->
	<div class="section-features">
		<div class="container">
			<div class="row">

				<div class="span4">
					<div class="info-features">
						<img alt="title" src="assets/images/flat/illustrations/compass.png" class="img-features">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora praesentium qui aspernatur amet distinctio.</p>
					</div>
				</div>
				<div class="span4">
					<div class="info-features">
						<img alt="title" src="assets/images/flat/illustrations/gift.png" class="img-features">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora praesentium qui aspernatur amet distinctio. </p>
					</div>
				</div>
				<div class="span4">
					<div class="info-features">
						<img alt="title" src="assets/images/flat/illustrations/calendar.png" class="img-features">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora praesentium qui aspernatur amet distinctio.</p>
					</div>
				</div>

			</div>
		</div>
	</div><!-- end: section-features -->	

	<!-- start: hello -->
	<div class="section-wrapper">
		<div class="container">
			<div class="row">
				<div class="span6">
					<div class="separator">
						<div class="left">
							<div class="lines">
								<div>
								<h2 class="lines-title">Say hello to Even!</h2>
								</div>
							</div>
						</div>
					</div>		
					<i class="icon-check icon-4x pull-left icon-muted"></i><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt ducimus nobis illum voluptate beatae labore minima incidunt doloribus a nam architecto numquam mollitia? Impedit inventore aliquid blanditiis laudantium obcaecati facere.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt ducimus nobis illum voluptate beatae labore minima incidunt doloribus a nam architecto numquam mollitia? Impedit inventore aliquid blanditiis laudantium obcaecati facere.</p>
				</div>

				<div class="span6">
					<div class="separator">
						<div class="left">
							<div class="lines">
								<div>
								<h2 class="lines-title">Services </h2>
								</div>
							</div>
						</div>
					</div>	

				<div class="accordion" id="accordion2">

				  <div class="accordion-group">
				    <div class="accordion-heading">
				      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
				        Design <span class="accordion-icon"><i class="icon-angle-down"></i></span>
				      </a>
				    </div>
				    <div id="collapseOne" class="accordion-body collapse in">
				      <div class="accordion-inner">
				        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias laboriosam quidem iusto repellat unde optio sed perferendis natus dicta in magni enim rem eos iure sequi nam asperiores nihil similique.
				      </div>
				    </div>
				  </div>

				  <div class="accordion-group">
				    <div class="accordion-heading">
				      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
				        Development <span class="accordion-icon"><i class="icon-angle-down"></i></span>
				      </a>
				    </div>
				    <div id="collapseTwo" class="accordion-body collapse">
				      <div class="accordion-inner">
				        consectetur adipisicing elit. Alias laboriosam quidem iusto repellat unde optio sed perferendis natus dicta in magni enim rem eos iure sequi nam asperiores nihil similique.
				      </div>
				    </div>
				  </div>

				  <div class="accordion-group">
				    <div class="accordion-heading">
				      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
				        Content Strategy <span class="accordion-icon"><i class="icon-angle-down"></i></span>
				      </a>
				    </div>
				    <div id="collapseThree" class="accordion-body collapse">
				      <div class="accordion-inner">
				        Alias laboriosam quidem iusto repellat unde optio sed perferendis natus dicta in magni enim rem eos iure sequi nam asperiores nihil similique.
				      </div>
				    </div>
				  </div>

				  <div class="accordion-group">
				    <div class="accordion-heading">
				      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
				        And a few other things <span class="accordion-icon"><i class="icon-angle-down"></i></span>
				      </a>
				    </div>
				    <div id="collapseFour" class="accordion-body collapse">
				      <div class="accordion-inner">
				        Dolor sit amet, consectetur adipisicing elit. Alias laboriosam quidem iusto repellat unde optio sed perferendis natus dicta in magni enim rem eos iure sequi nam asperiores nihil similique.
				      </div>
				    </div>
				  </div>

				</div>

				</div>
			</div>
		</div>
	</div><!-- end: hello -->

	<!-- start: lastest-work -->
	<div class="section-wrapper lastest-work">
		<div class="container">
			<div class="row">
				<div class="span12">
					<div class="separator">
						<div class="left">
							<div class="lines">
								<div>
								<h2 class="lines-title">Latest Works</h2>
								</div>
							</div>
						</div>
					</div>	
				</div>
				<div class="span3">
					<div class="white-content">
						<div class="img-mask hover-mask">
							<img src="assets/images/large/6.jpg" alt="Photo-Work-1">
							<div class="flip-container">
							  <div class="flipper">
							    <div class="back">
							      <div class="flip-b">
							      	<a href="#"><span class="icon-back"><i class="icon-plus"></i></span></a>
							      </div>
							    </div>
							  </div>
							</div>			
						</div>							
						<a href="#"><h5>Even App <span class="white-title"><i class="icon-chevron-right"></i></span></h5></a>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas elementum iaculis elit non posuere. Duis.</p>
					</div>
				</div>
				<div class="span3">
					<div class="white-content">
						<div class="img-mask hover-mask">
							<img src="assets/images/large/7.jpg" alt="Photo-Work-2">
							<div class="flip-container">
							  <div class="flipper">
							    <div class="back">
							      <div class="flip-b">
							      	<a href="#"><span class="icon-back"><i class="icon-plus"></i></span></a>
							      </div>
							    </div>
							  </div>
							</div>											
						</div>
						<a href="#"><h5>Even App <span class="white-title"><i class="icon-chevron-right"></i></span></h5></a>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas elementum iaculis elit non posuere. Duis.</p>						
					</div>
				</div>
				<div class="span3">
					<div class="white-content">
						<div class="img-mask hover-mask">
							<img src="assets/images/large/6.jpg" alt="Photo-Work-3">
							<div class="flip-container">
							  <div class="flipper">
							    <div class="back">
							      <div class="flip-b">
							      	<a href="#"><span class="icon-back"><i class="icon-plus"></i></span></a>
							      </div>
							    </div>
							  </div>
							</div>							
						</div>
						<a href="#"><h5>Even App <span class="white-title"><i class="icon-chevron-right"></i></span></h5></a>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas elementum iaculis elit non posuere. Duis.</p>						
					</div>
				</div>
				<div class="span3">
					<div class="white-content">
						<div class="img-mask hover-mask">
							<img src="assets/images/large/7.jpg" alt="Photo-Work-4">
							<div class="flip-container">
							  <div class="flipper">
							    <div class="back">
							      <div class="flip-b">
							      	<a href="#"><span class="icon-back"><i class="icon-plus"></i></span></a>
							      </div>
							    </div>
							  </div>
							</div>							
						</div>
						<a href="#"><h5>Even App <span class="white-title"><i class="icon-chevron-right"></i></span></h5></a>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas elementum iaculis elit non posuere. Duis.</p>						
					</div>
				</div>						
			</div>
		</div>
	</div><!-- end: lastest-work -->

	<!-- start: Testimonial -->
	<div class="section-wrapper">
		<div class="container">
			<div class="row">
				<div class="span12">
					<div class="separator">
						<div class="left">
							<div class="lines">
								<div>
								<h2 class="lines-title">Client Testimonials</h2>
								</div>
							</div>
						</div>
					</div>	
				</div>
				<div class="span4">
				  <blockquote>
				    <p>Simplicity is not the goal. It is the by-product of a good idea and modest expectations.</p>
				    <small>Paul Rand <a href="#"><i class="icon-external-link"></i></a></small> 
				  </blockquote>
				</div>
				<div class="span4">
				  <blockquote>
				    <p>It is a pretty recognizable brand name. Originally it was “Jerry’s Guide to the World Wide Web” but we settled on “Yahoo”.</p>
				    <small>Jerry Yang <a href="#"><i class="icon-external-link"></i></a></small> 
				  </blockquote>
				</div>
				<div class="span4">
				  <blockquote>
				    <p>To achieve great things, two things are needed: a plan, and not quite enough time.</p>
				    <small>Leonard Bernstein <a href="#"><i class="icon-external-link"></i></a></small> 
				  </blockquote>
				</div>
			</div>
	  	</div>
	</div><!-- end: Testimonial -->

	<!-- start: client -->
	<div class="section-wrapper section-testimonial">
		<div class="container">
			<div class="row">
				<div class="span12">
					<div class="separator">
						<div class="left">
							<div class="lines">
								<div>
								<h2 class="lines-title">Clients</h2>
								</div>
							</div>
						</div>
					</div>	
				</div>
				<div class="span2">
					<div class="white-content client-container thumbnail-client">
					  <div class="client-flipper">
					    <div class="client-front">
					    	<img src="assets/images/client/1.png" alt="Client-1">
					    </div>
					    <div class="client-back">
							<span class="client-back-title">Photoshop <a href="#"><i class="icon-external-link"></i></a></span>
					    </div>
					  </div>
					</div>
				</div>
				<div class="span2">
					<div class="white-content client-container thumbnail-client" >
					  <div class="client-flipper">
					    <div class="client-front">
					    	<img src="assets/images/client/2.png" alt="Client-2">
					    </div>
					    <div class="client-back">
							<span class="client-back-title">Jquery <a href="#"><i class="icon-external-link"></i></a></span>
					    </div>
					  </div>
					</div>
				</div>
				<div class="span2">
					<div class="white-content client-container thumbnail-client" >
					  <div class="client-flipper">
					    <div class="client-front">
					    	<img src="assets/images/client/3.png" alt="Client-3">
					    </div>
					    <div class="client-back">
							<span class="client-back-title">CSS3 <a href="#"><i class="icon-external-link"></i></a></span>
					    </div>
					  </div>
					</div>
				</div>
				<div class="span2">
					<div class="white-content client-container thumbnail-client" >
					  <div class="client-flipper">
					    <div class="client-front">
					    	<img src="assets/images/client/4.png" alt="Client-4">
					    </div>
					    <div class="client-back">
							<span class="client-back-title">GitHub <a href="#"><i class="icon-external-link"></i></a></span>
					    </div>
					  </div>
					</div>
				</div>
				<div class="span2">
					<div class="white-content client-container thumbnail-client" >
					  <div class="client-flipper">
					    <div class="client-front">
					    	<img src="assets/images/client/5.png" alt="Client-5">
					    </div>
					    <div class="client-back">
							<span class="client-back-title">HTML5 <a href="#"><i class="icon-external-link"></i></a></span>
					    </div>
					  </div>
					</div>
				</div>
				<div class="span2">
					<div class="white-content client-container thumbnail-client" >
					  <div class="client-flipper">
					    <div class="client-front">
					    	<img src="assets/images/client/6.png" alt="Client-6">
					    </div>
					    <div class="client-back">
							<span class="client-back-title">Chromium <a href="#"><i class="icon-external-link"></i></a></span>
					    </div>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- end: client -->

<!-- start: footer -->
<footer>
	<div class="pre-footer">
		<div class="container">
			<div class="row-fluid">
				<div class="section-wrapper clearfix">

					<div class="span5">
						<div class="separator">
							<div class="">
								<div class="lines">
									<div>
									<h3 class="lines-title">Latest tweet</h3>
									</div>
								</div>
							</div>
						</div>	
						<div class="tweet"></div> 
					</div>
			
					<div class="span3">
						<div class="separator">
							<div class="">
								<div class="lines">
									<div>
									<h3 class="lines-title">Contact Even</h3>
									</div>
								</div>
							</div>
						</div>	
						<ul class="contact-footer">
							<li>
								<i class="icon-map-marker"></i>  Angers, 49100, France
							</li>
							<li>
								<i class="icon-phone"></i> (123) 456-7890
							</li>
							<li>
								<i class="icon-envelope-alt"></i> contact@even.com
							</li>
							<li>
								<i class="icon-globe"></i><a href="#">www.even.com</a> 
							</li>							
						</ul>

						<p class="footer-subscribe"><strong>Subscribe for monthly updates:</strong></p>

						<form id="newsletter">
				              <input type="text" placeholder="Enter email adress">
				              <button type="button" class="btn-dark btn-large">Send</button>
						</form>						

					</div>


					<div class="span4">
						<div class="separator">
							<div class="">
								<div class="lines">
									<div>
									<h3 class="lines-title">Work with us</h3>
									</div>
								</div>
							</div>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat perspiciatis facere voluptatibus nostrum nam sit sapiente vitae quasi fugit reiciendis dconsectetur adipisicing elit. Placeat perspiciatis facere voluptatibus nostrum nam sit sapiente vitae quasi fugit </p>				
						<a class="span 4 project" href="contact.html"><button type="button" class="btn-dark btn-large">Start a project</button></a>

					</div>


				</div>
			</div>
		</div>
	</div>
	<div class="post-footer">
		<div class="container">
			<div class="row">
					<div class="span6">
						<div class="copyright">Copyright &copy; 2013 Bootstrap Trooper. All rights reserved.</div>
					</div>
					<div class="span6">
						<ul class="footer-links">
							<li>
								<a class="thumbnail-social-icon" href="#"><img alt="" src="assets/images/social-icon/Facebook.png"></a>
							</li>
							<li>
								<a class="thumbnail-social-icon" href="#"><img alt="" src="assets/images/social-icon/Twitter.png"></a>
							</li>
							<li>
								<a class="thumbnail-social-icon" href="#"><img alt="" src="assets/images/social-icon/Google.png"></a>
							</li>
							<li>
								<a class="thumbnail-social-icon" href="#"><img alt="" src="assets/images/social-icon/Dribbble.png"></a>
							</li>
						</ul>
					</div>
			</div>
		</div>
	</div>
</footer><!-- end: footer -->

</div><!-- end: sticky area -->	



<!-- start: style switcher -->
<div class="switcher">
	<div class="cogs"><i class="icon-cogs icon-3x"></i></div>

	<ul id="cssSwitch">
		<li class="color">Color :</li>
		<li><a href="#" rel="assets/css/style.css" class="default" title="default"></a></li>
	    <li><a href="#" rel="assets/css/color-1.css" class="color-1" title="Gamebookers"></a></li>
	    <li><a href="#" rel="assets/css/color-2.css" class="color-2" title="Fine Art in Print"></a></li>
	    <li><a href="#" rel="assets/css/color-3.css" class="color-3" title="Cause I confide in"></a></li>
	    <li><a href="#" rel="assets/css/color-4.css" class="color-4" title="Metro"></a></li>	    
	</ul>
</div>
<!-- end: style switcher -->


<!-- start: script -->
<script src="assets/js/jquery.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/modernizr.js"></script>
<script src="assets/js/ba-cond.js"></script>
<script src="assets/js/slitslider.js"></script>
<script src="assets/js/isotope.js"></script>
<script src="assets/js/cookie.js"></script>
<script src="assets/js/checkbox_and_radio.js"></script>
<script src="assets/js/dropkick.js"></script>
<script src="assets/js/tweet.js"></script>
<script src="assets/js/custom.js"></script>
<!-- end: script -->

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->	

</body>

</html>